
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h1>簡國軒在哪裡</h1>
<input type="text" name="name" value="" />
<textarea>資傳四B 簡國軒</textarea>
<select>
    <option value="text">資傳四A簡國軒</option>
    <option value="text">資傳四B簡國軒</option>
    <option value="text">資傳四C簡國軒</option>
    <option value="text">資傳四D簡國軒    </option>
</select>

<input type="radio" name="gender" value="A"> 簡國軒男   
<input type="radio" name="gender" value="B"> 簡國軒女

